@charset "UTF-8";

@selected-blue: #10bcec;

@main-transition-time: .15s;

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
}

p
{
    margin: 0;
}

.main
{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.tool-bar
{
    margin: 6px;

    button
    {
        margin: 0 2px;
    }

    .selected-count
    {
        margin: 5px;
    }
}

.content-area
{
    flex: 1;
    overflow: auto;
    padding: 10px;

    .links-input-zone
    {
        .link-input
        {
            display: block;
            width: 600px;
            height: 450px;
            margin-bottom: 10px;
        }
    }

    .link-tiles
    {
        display: none;
    }

    &.tile-mode
    {
        .links-input-zone
        {
            display: none;
        }

        .link-tiles
        {
            display: block;
        }
    }
}
