@charset "UTF-8";

body
{
    font-size: 20px;
}

p
{
    margin: 0;
}

.main
{
    text-align: center;

    .link-input
    {
        font-size: 17px;
        height: 20px;
        width: 300px;
    }

    .invalid-message
    {
        display: none;
        color: red;

        &.showing
        {
            display: block;
        }
    }
}
